/* ************************************************************************** */
/* Buttons ****************************************************************** */
/* ************************************************************************** */
@mixin btn-fade {
  transition: all 0.3s ease-in-out;
}

.ui-btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
  @include isMedium {
    flex-direction: row;
  }

  .ui-btn-right {
    @include isMedium {
      margin-right: 1rem;
    }
  }
}
/* General Button Style */
@mixin ui-btn {
  font-family: $font-secondary;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // width: auto;
  padding: 1.3rem 1.5rem 1rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: .5rem;
  @include btn-fade;
  @include isMedium {
    // min-width: 220px;
    // max-width: 329px;
    margin-bottom: 0;
    width: auto;
    padding: 1.3rem 1.5rem 1rem 1.5rem;
  }
}
/* Main Button Color ******************************************************** */
.ui-btn-main {
  @include ui-btn;
  background-image: linear-gradient(45deg, #009DA6, #76C5FF);
  color: $color-white;

  &:hover {
    text-decoration: none;
    background-image: linear-gradient(-45deg, lighten(#009DA6, 20), #76C5FF);
    color: $color-white;
  }
}

.ui-btn-main-ol {
  @include ui-btn;
  background: transparent;
  border: 2px solid $color-main;
  color: $color-main;

  &:hover {
    text-decoration: none;
    background: $color-accent;
    border: 2px solid $color-accent;
    color: $color-white;
  }
}

.ui-btn-white {
  @include ui-btn;
  background-color: $color-white;
  color: $color-main;

  &:hover {
    text-decoration: none;
    background-color: $color-accent;
    color: $color-white;
  }
}

.ui-btn-white-ol {
  @include ui-btn;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;

  &:hover {
    text-decoration: none;
    background: $color-accent;
    border: 2px solid $color-accent;
    color: $color-white;
  }
}
